---
---

<div class='m-auto p-5 my-20 max-w-7xl'>
    <div
        class='relative flex flex-col items-center justify-center text-white pb-24 p-5 rounded-xl bg-black'
    >
        <div
            class='bg-black hidden absolute left-0 right-0 top-0 bottom-0 mt-20 rounded-xl object-contain bg-no-repeat object-center md:hidden lg:block'
            style={`background-image: url('/yo.png');`}
        >
        </div>
        <!-- Header -->
        <div class='relative flex w-full py-8 px-8 rounded-lg'>
            <div class='flex flex-1 flex-col justify-center gap-1'>
                <span class='uppercase text-xl font-bold px-5'>
                    <span class='inline-block'>
                        José Pablo Arancibia Linker
                    </span>
                </span>
                <span class='text-lg text-neutral-500 px-5'>
                    <span class='inline-block'> 05/02/1998</span>
                </span>
                <span class='text-sm text-neutral-500 px-5'>
                    <span class='inline-block'>Quillota, Chile</span>
                </span>
            </div>
        </div>
        <!-- Title -->
        <h2
            class='relative text-center text-2xl my-0 ml-0 font-bold md:ml-0 lg:ml-52 md:text-3xl md:my-0 lg:text-4xl lg:my-3'
        >
            Sobre Mi
        </h2>
        <!-- Content -->
        <div
            class='relative flex justify-end items-end gap-2 text-base my-5 ml-0 md:ml-0 md:text-lg md:my-10 lg:ml-auto lg:text-lg lg:my-20'
        >
            <div class='flex gap-1'>
                <span
                    class='max-w-xl leading-8 tracking-wider md:max-w-lg lg:max-w-xl'
                >
                    Mi nombre es José Pablo Arancibia Linker y soy Ingeniero en
                    Informática con experiencia en desarrollo web full stack. Me
                    apasiona aprender y ampliar continuamente mis conocimientos
                    sobre el desarrollo de software. Soy una persona que aprende
                    rápido y siempre está dispuesta a asumir nuevos retos.
                    Trabajo duro y estoy comprometido a hacer el mejor trabajo
                    posible.<br />
                    <span class='text-white text-xl'
                    >
                        <br />Titulado en:
                        <br/>
                        <span class='text-lg font-bold tracking-tight'>
                            Pontificia Universidad Católica de Valparaíso
                        </span>
                        </span>
                </span>
            </div>
        </div>
    </div>
</div>
