---

import { toHTML} from '@portabletext/to-html';
import htm from 'htm';
// @ts-ignore
import vhtml from 'vhtml';

const {
  projectId,
  title,
  description
} = Astro.props;

const myPortableTextComponents = {
  marks: {
    link: ({ children, value }: { children: any; value: any }) => {
      // If the URI appears unsafe, render the children (eg, text) without the link
      return children;
    },
  },
};
const descriptionHTML = toHTML(description, {
  // @ts-ignore
  components: myPortableTextComponents,
});
---

<div
  class='relative border border-zinc-300 rounded-xl cursor-pointer transition group hover:bg-gradient-to-r hover:from-[#080055] hover:to-[#008ab9]'
>
  <a href=`/proyecto/${projectId}`>
    <div class='relative w-full h-full p-4 md:p-8'>
      <h1
        class='text-xl font-bold sm:text-3xl transition group-hover:text-white'
      >
        {title}
      </h1>
      <div class='leading-8 mt-4 text-sm font-light transition group-hover:text-white md:text-base lg:text-lg'>
        <Fragment set:html={descriptionHTML} />
      </div>
    </div>
  </a>
</div>