---
import { GitFork } from 'lucide-react';
---
<section class='text-gray-300 bg-gradient-to-r from-[#080055] to-[#008ab9]'>
    <div class='container px-5 py-24 mx-auto flex flex-col'>
        <div class='lg:w-full mx-auto'>
            <div class='sm:w-1/2 text-center mx-auto sm:py-8'>
                <div class='rounded-lg h-64 overflow-hidden'>
                    <img
                        alt='feature'
                        class='object-fill object-center h-full w-full mx-auto'
                        src='/ingsoft.jpg'
                    />
                </div>
            </div>

            <div class='sm:w-1/2 text-center mx-auto sm:py-8'>
                <div
                    class='w-20 h-20 inline-flex items-center justify-center text-gray-400 mb-5 flex-shrink-0'
                >
                    <GitFork size={50} color='white'/>
                </div>
                <div class='flex-grow'>
                    <h2
                        class='text-gray-200 text-2xl title-font font-bold uppercase mb-3'
                    >
                        Ingeniería de Software
                    </h2>
                    <p class='leading-relaxed text-lg'>
                        Para el desarrollo de proyectos, he aplicado la Captura,
                        Especificación y Validación de Requerimientos, Modelos
                        de Proceso de Desarrollo, Documentación, la cual incluye
                        Diagramas,Carta Gantt, BPMN (Bussiness Process Model and
                        Notation o Modelo de Procesos de Negocio), Casos de Uso,
                        Estudio de Factibilidad, Definición de Objetivos,
                        Analisis de Problema,Propuestas de Solución y Gestión de
                        Riesgos. Herramientas que he utilizado son Bizagi, Jira,
                        Word, Excel, MS Project, Cacoo, Lucidchart.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
