---
import { Server, Code2, UploadCloud } from 'lucide-react';
import Heading from '../heading/Heading.astro';
---

<section class='text-gray-300 bg-gradient-to-r from-[#080055] to-[#008ab9]'>
    <Heading
        title='Competencias'
        styles='w-full my-2 text-4xl font-bold tracking-wider leading-tight text-center text-gray-200 pt-10 uppercase md:text-5xl lg:text-6xl'
        underlineStyles='h-1 mx-auto bg-gray-200 w-[300px] md:w-[400px] lg:w-[500px] opacity-100 my-0 py-0 rounded-t'
    />
    <div class='container px-5 py-24 mx-auto flex flex-col'>
        <div class='lg:w-full mx-auto'>
            <div class='sm:w-1/2 text-center mx-auto sm:py-8'>
                <div class='rounded-lg h-64 overflow-hidden'>
                    <img
                        alt='feature'
                        class='object-cover object-center h-full w-full'
                        src='/web.jpeg'
                    />
                </div>
            </div>
            <div class='flex flex-col justify-center gap-5 sm:flex-row mt-10'>
                <div class='sm:w-1/3 text-center sm:pr-8 sm:py-8'>
                    <div
                        class='w-20 h-20 inline-flex items-center justify-center text-gray-400 mb-5 flex-shrink-0'
                    >
                        <Code2 size={50} color='white' />
                    </div>
                    <div class='flex-grow'>
                        <h2
                            class='text-gray-200 text-2xl title-font font-bold uppercase mb-3'
                        >
                            Frontend
                        </h2>
                        <p class='leading-relaxed text-lg'>
                            Me gusta el desarrollo web, por la utilidad que le
                            puede brindar a un pequeño negocio o a una empresa.
                            Me he aventurado con varias herramientas de
                            desarrollo web, desde lo básico, como HTML,CSS y
                            Javascript hasta frameworks como ASP .NET,Shiny,
                            Angular y actualmente las herramientas front-end con
                            las que trabajo, me siento mas comodo y mas
                            experiencia tengo, React, NextJS y TailwindCSS.
                        </p>
                    </div>
                </div>
                <div class='sm:w-1/3 text-center sm:pr-8 sm:py-8'>
                    <div
                        class='w-20 h-20 inline-flex items-center justify-center text-gray-400 mb-5 flex-shrink-0'
                    >
                        <Server size={50} color='white' />
                    </div>
                    <div class='flex-grow'>
                        <h2
                            class='text-gray-200 text-2xl title-font font-bold uppercase mb-3'
                        >
                            Backend
                        </h2>
                        <p class='leading-relaxed text-lg'>
                            En desarrollo back-end, he utilizado Express para la
                            configuracion del servidor, Prisma y Sequelize como
                            ORM's y API Rest y GraphQL para el control, llamadas
                            y configuración de los endpoints para la API. Como
                            bases de datos SQL, he trabajado con SQL Server,
                            MySQL, y MongoDB como base de datos NoSQL.
                        </p>
                    </div>
                </div>

                <div class='sm:w-1/3 text-center sm:pr-8 sm:py-8'>
                    <div
                        class='w-20 h-20 inline-flex items-center justify-center text-gray-400 mb-5 flex-shrink-0'
                    >
                        <UploadCloud size={50} color='white' />
                    </div>
                    <div class='flex-grow'>
                        <h2
                            class='text-gray-200 text-2xl title-font font-bold uppercase mb-3'
                        >
                            Integraciones
                        </h2>
                        <p class='leading-relaxed text-lg'>
                            Como integraciones, he utilizado AWS S3 Bucket y
                            Cloudinary para el almacenamiento de archivos, Auth0
                            y Clerk para la autenticación de usuarios, Sanity
                            como CMS's(Content Managment System o Sistema de
                            Gestión de Contenidos), Stripe para plataforma de
                            procesamiento de pagos, AWS RDS, Railway y
                            PlanetScale para el host de bases de datos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
